main {
  width: 100%;
  text-align: center;
}

.content {
  font-family: "Neuton";
  display: block;
  min-width: 600px;
  max-width: 45%;
  margin: 0 auto;
  text-align: left;

  &__mainTitle {
    margin-top: 50px;
    font-size: 42px;
    font-style: italic;
    letter-spacing: 1px;
  }

  &__coverImg {
    padding-top: 40px;
    width: 68vw;
    margin: 0 auto;
  }

  &__articleImg {
    width: 800px;
    margin: 0 auto;
  }

  &__mainContent {
    margin-top: 30px;
    font-weight: 300;
    font-size: 23px;
    clear: both;

    & > p {
      margin: 20px 0px;
    }
  }
}

.caption {
  width: 68vw;
  margin: 0 auto;
  text-align: left;
  color: rgb(109, 109, 109);

  &__credits {
    padding-bottom: 40px;

    font-size: 12px;
    color: rgb(153, 153, 153);
  }
}

.--captionContent {
  width: 800px;
}

.InflationDiagram {
  width: 1000px;
  margin: 0px auto;

  &__header {
    font-family: "Neuton", serif;
    text-align: left;

    & > h3 {
      font-size: 25rem;
      margin-left: 40px;
    }

    & > p {
      font-size: 16rem;
      color: rgb(104, 107, 109);
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  &__section {
    display: inline-block;
    width: 220px;
    height: 290px;
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;

    & > img {
      width: 200px;
      height: 100px;
    }

    & > p {
      font-size: 12px;
    }
  }

  &__separator {
    align-self: left;
    text-align: left;
    margin-left: 40px;
  }
}

.articleSocial {
  margin: 0 auto;
  display: block;
  width: 45%;
  text-align: left;

  &__title {
    float: left;
    margin-bottom: 25px;
  }

  &__date {
    clear: left;
    float: left;
    margin-bottom: 35px;
  }

  &__buttons {
    position: relative;
    float: right;
    margin-bottom: 15px;
  }

  &__buttonIcon {
    margin-bottom: 6px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
  }

  &__counter {
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
  }
}

.--resized {
  width: 28px;
  margin-bottom: 0px;
}
